
.modal-backdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container-delete {
    display: flex;
    gap: 10%;
    flex-direction: column;
	background: #fff;
	border-radius: 8px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 320px;
    height: 150px;
}
.modal-container-form {
    display: flex;
    gap: 10%;
    flex-direction: column;
	background: #fff;
	border-radius: 8px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 320px;
    height: 300px;
}

.modal-form{
	height: 70%;
}

.delete-para{
	margin: 20px auto;
	font-size: 16px;
}
.cancel-delete-div{
    display: flex;
    width: 70%;
    justify-content: space-between;
	margin: 10px auto;
}
.cancel-delete-form{
    display: flex;
    width: 80%;
    justify-content: space-between;
	margin-top: 20px;
}

.cancel-delete-btn{
	background: linear-gradient(107.5deg, #0764FD 7.83%, #6A45FD 114.7%);
	color: #fff;
	border-style: none;
	border-radius: 8px;
	height: 40px;
	width: 80px;
	box-shadow: 0px 4px 30px 0px rgba(83, 77, 254, 0.4);
}

.confirm-delete-btn{
	background: linear-gradient(107.5deg, #0764FD 7.83%, #6A45FD 114.7%);
	color: #fff;
	border-style: none;
	border-radius: 8px;
	height: 40px;
	width: 80px;
	box-shadow: 0px 4px 30px 0px rgba(83, 77, 254, 0.4);
}

.cancel-form-btn{
	background: linear-gradient(107.5deg, #0764FD 7.83%, #6A45FD 114.7%);
	color: #fff;
	border-style: none;
	border-radius: 8px;
	height: 40px;
	width: 45%;
	box-shadow: 0px 4px 30px 0px rgba(83, 77, 254, 0.4);
}

.save-form-btn{
	background: linear-gradient(107.5deg, #0764FD 7.83%, #6A45FD 114.7%);
	color: #fff;
	border-style: none;
	border-radius: 8px;
	height: 40px;
	width: 45%;
	box-shadow: 0px 4px 30px 0px rgba(83, 77, 254, 0.4);
}
.modal-input{
	box-sizing: border-box;
    padding: 15px;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border: 3px solid rgba(221, 231, 255, 1);
    outline: none;
    font-Size: 15px;
    padding-left: 10px;
	margin-top: 5px;
    color: #000000;
}